In [1]:
# Importo librerias
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Importo el dataset
df = pd.read_csv('WineQuality.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32485 entries, 0 to 32484
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            32485 non-null  int64
 1   fixed acidity         32485 non-null  float64
 2   volatile acidity      32485 non-null  float64
 3   citric acid           32485 non-null  float64
 4   residual sugar        32485 non-null  float64
 5   chlorides             32485 non-null  float64
 6   free sulfur dioxide   32485 non-null  float64
 7   total sulfur dioxide  32485 non-null  float64
 8   density               32485 non-null  float64
 9   pH                    32485 non-null  float64
 10  sulphates             32485 non-null  float64
 11  alcohol               32485 non-null  float64
 12  quality               32485 non-null  int64
 13  Type                  32485 non-null  object
dtypes: float64(11), int64(2), object(1)
memory usage: 3.5+ MB

In [14]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Type
0,7.4,0.170,0.29,1.4,0.047,23.0,107.0,0.99390,3.52,0.65,10.4,6,White Wine
1,5.3,0.310,0.38,10.5,0.031,53.0,140.0,0.99321,3.34,0.46,11.7,6,White Wine
2,4.7,0.145,0.29,1.0,0.042,35.0,90.0,0.99080,3.76,0.49,11.3,6,White Wine
3,6.9,0.260,0.29,4.2,0.043,33.0,114.0,0.99020,3.16,0.31,12.5,6,White Wine
4,6.4,0.450,0.07,1.1,0.030,10.0,131.0,0.99050,2.97,0.28,10.8,5,White Wine

In [ ]:
# Borro columna innecesaria
df.drop(columns='Unnamed: 0', inplace=True)

In [20]:
# La variable categorica "Type" solo tiene dos valores (vino blanco y vino tinto)
df.Type.unique()

array(['White Wine', 'Red Wine'], dtype=object)

In [30]:
# La variable categorica "quality" tiene valores que van del 3 al 9
df.quality.unique()

array([6, 5, 7, 4, 8, 3, 9])

In [33]:
# Cantidad de observaciones agrupados por tipo y calidad
df.groupby('Type')['quality'].value_counts()

Type        quality
Red Wine    5           3462
            6           3163
            7           1006
            4            267
            8             86
            3             48
White Wine  6          10954
            5           7293
            7           4365
            4            877
            8            855
            3             85
            9             24
Name: quality, dtype: int64